<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>SteroidPlan</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{ % url 'frontend:page_calculator' % }">SteroidPlan</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'frontend:page_calculator' %}">Калькулятор</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'frontend:page_calendar' %}">Календарь</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'frontend:course_list' %}">Мои курсы</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'frontend:analyses_list' %}">Анализы</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'frontend:knowledge_base' %}">База знаний</a></li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'logout' %}">Выйти</a>
		  </li>
		{% else %}
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'login' %}">Войти</a>
		  </li>
		{% endif %}
      </ul>
    </div>
  </nav>

  <div class="container my-4">
    {% block content %}{% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>